{% extends "account_base.html" %}
{% block title %}Обработка персональных данных — FPBooster{% endblock %}

{% block content %}
<h2>Обработка персональных данных</h2>
<div class="card-dark p-4" style="line-height:1.6; margin-bottom:120px;">

  <p>В соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных» настоящим я полностью и безоговорочно принимаю политику конфиденциальности, даю обществу <strong>ЭКСПЕНСИВКЛИЕНТ</strong> согласие на автоматизированную, а также без использования средств автоматизации обработку путем сбора, систематизации, накопления, хранения, уточнения и удаления, а также путем передачи (предоставления) третьим лицам, привлеченных обществом ЭКСПЕНСИВКЛИЕНТ, моих персональных данных:</p>

  <ul>
    <li>имени и фамилии;</li>
    <li>адреса электронной почты;</li>
  </ul>

  <p>указанных мною на сайте <a href="https://fpbooster.shop/" target="_blank">https://fpbooster.shop/</a>, для следующих целей:</p>

  <ul>
    <li>писем с целью обратной связи со мной;</li>
    <li>оказания услуг, предусмотренных сайтом;</li>
    <li>повышения качества оказываемых услуг, качества работы сайта;</li>
    <li>обработки обращений;</li>
    <li>получения программного обеспечения, информации и иных материалов от сайта.</li>
  </ul>

  <p>Настоящее согласие действует до даты отзыва согласия на обработку персональных данных.  
  Для этого необходимо написать письмо на адрес <a href="mailto:noreply@fpbooster.shop">noreply@fpbooster.shop</a>.</p>

</div>
{% endblock %}
